{% include "partials/header.njk" %}

<section class="pt-small pt-md-xlarge pb-small pb-md-large" data-scroll-section>
    <div class="container">
       {{ content | safe}}
    </div>
</section>

{% include "partials/footer.njk" %}