{% include "partials/header.njk" %}

<section class="pt-large pb-xlarge" data-scroll-section>
    <div class="container">

        <div class="row">
            <div class="offset-md-2 col-md-6">
                <div class="single-post-title-wrap pt-small">
                    <div class="breacrumbs fadeIn">
                        <a href="/">
                            Główna
                        </a>
                        <span>
                            |
                        </span>
                        <a href="/aktualnosci">
                            Aktualności
                        </a>
                        <span>
                            |
                        </span>
                        <span>
                            {{ title }}
                        </span>
                    </div>
                    <h1 class="single-post-title mt-4 mb-4" data-splitting>
                        {{ title }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="content row gx-5 fadeIn" id="pinShare">
            <div class="col-md-2 d-none d-md-block">
                <div class="pinned-progress" data-scroll data-scroll-sticky data-scroll-target="#pinShare">
                    <div class="scrollprogress-wrap">             
                        <div class="scrollprogress"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {{ content | safe}}
            </div>
        </div>

        <div class="row pt-medium fadeIn">
            <div class="col-md-10">
                <div class="line-x"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="post-navigation pt-small">
                    {%- if collections.posts %}
                    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
                    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
                    {%- if nextPost or previousPost %}
                    <ul class="d-flex flex-wrap fadeIn">
                        {%- if previousPost %}
                        <li class="hover-reveal-wrap col-md-6 prev d-none d-md-block">
                            <p class="mb-4">
                                <small>
                                    Kolejny:
                                </small>
                            </p>
                            <a href="{{ previousPost.url | url }}" title="{{ previousPost.data.client }}"
                                class="h4">{{ previousPost.data.title }}</a>
                            <div class="hover-reveal">
                                <img src="{{ previousPost.data.thumbnail }}" class="hidden-img">
                            </div>
                        </li>
                        {% endif %}
                        {%- if nextPost %}
                        <li class="hover-reveal-wrap col-md-5 next">
                            <p class="mb-4">
                                <small>
                                    Kolejny:
                                </small>
                            </p>
                            <a href="{{ nextPost.url | url }}" title="{{ nextPost.data.client }}"
                                class="h4">{{ nextPost.data.title }}</a>
                            <div class="hover-reveal">
                                <img src="{{ nextPost.data.thumbnail }}" class="hidden-img">
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    {%- endif %}
                    {%- endif %}
                </div>
            </div>
        </div>

    </div>
</section>

{% include "partials/footer.njk" %}