{% include "partials/header.njk" %}

<section class="pt-xsmall pb-xlarge" data-scroll-section>
    <div class="container">

        <div class="content row gx-5 fadeIn" id="pinShare">
            <div class="col-md-7">
                    <div class="single-post-title-wrap pt-xlarge">
                        <div class="breacrumbs fadeIn">
                            <a href="/" title="Strona glówna">
                                Główna
                            </a>
                            <span>
                                |
                            </span>
                            <a href="/uslugi/" title="Usługi">
                                Usługi
                            </a>
                            <span>
                                |
                            </span>
                            <span>
                                {{ title }}
                            </span>
                        </div>
                        <h1 class="single-post-title mt-4 mb-4" data-splitting>
                            {{ title }}
                        </h1>
                    </div>
                <div class="parallax-wrap aspect_16-5 mb-5">
                    <img src="{{ thumbnail }}" alt="{{ title }}" loading="lazy" />
                </div>
                {{ content | safe}} 
            </div>
            <div class="offset-md-1 col-md-4">
                <div data-scroll data-scroll-sticky data-scroll-target="#pinShare">
                    <div class="pt-xlarge pb-xsmall">
                        <div class="card p-4 bg-light-1">
                            <h3 class="h4 mt-4 mb-1">
                                Zobacz również
                            </h3>
                            {% for post in collections.services %}
                            <div class="row">
                                <a href="{{ post.url }}" title="{{ post.data.title }}">
                                    <p class="archive-post-title mt-3 mb-3">
                                        {{ post.data.title }}
                                    </p>
                                </a>                             
                            </div>
                            <div class="line-x lx-1"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-medium fadeIn">
            <div class="col-md-10">
                <div class="line-x"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="post-navigation pt-small">
                    {%- if collections.services %}
                    {%- set nextPost = collections.services | getNextCollectionItem(page) %}
                    {%- set previousPost = collections.services | getPreviousCollectionItem(page) %}
                    {%- if nextPost or previousPost %}
                    <ul class="d-flex flex-wrap fadeIn">
                        {%- if previousPost %}
                        <li class="hover-reveal-wrap col-md-6 prev d-none d-md-block">
                            <a href="{{ previousPost.url | url }}" title="{{ previousPost.data.client }}"
                                class="h3 pr-md-5">{{ previousPost.data.title }}</a>
                            <div class="hover-reveal">
                                <img src="{{ previousPost.data.thumbnail }}" class="hidden-img">
                            </div>
                        </li>
                        {% endif %}
                        {%- if nextPost %}
                        <li class="hover-reveal-wrap col-md-5 next">
                            <a href="{{ nextPost.url | url }}" title="{{ nextPost.data.client }}"
                                class="h3 pr-md-5">{{ nextPost.data.title }}</a>
                            <div class="hover-reveal">
                                <img src="{{ nextPost.data.thumbnail }}" class="hidden-img">
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    {%- endif %}
                    {%- endif %}
                </div>
            </div>
        </div>

    </div>
</section>

{% include "partials/footer.njk" %}