
:root {
    --color-accent-1: #ca182e;
    --color-accent-2: #ca182e;
    --color-dark-1: #0c1318;
    --color-dark-2: #111b22;
    --color-light-1: #fff;
    --color-light-2: #f3f3f3;
    --color-heading: #0c1318;
    --color-text: #3f4b53;
    --color-border: #6f767a44;
}

/*
@media (prefers-color-scheme:dark) {
    :root {
    --color-accent-2: #fff;
    --color-dark-1: #f8f8f8;
    --color-dark-2: #f3f3f3;
    --color-light-1: #141618;
    --color-light-2: #16191c;
    --color-heading: #fff;
    --color-text: #c5c5c5;
    }
  }
*/

  .contrast-low {
    --color-accent-1: #242d35;
    --color-accent-2: #242d35;
    --color-dark-1: #242d35;
    --color-dark-2: #3e474e;
    --color-light-1: #fff;
    --color-light-2: #f3f3f3;
    --color-heading: #3b4045;
    --color-text: #687177;
  }

  .contrast-high {
    --color-accent-2: #fff;
    --color-dark-1: #f8f8f8;
    --color-dark-2: #f3f3f3;
    --color-light-1: #0d0e0f;
    --color-light-2: #16191c;
    --color-heading: #fff;
    --color-text: #c5c5c5;
  }

  .bg-light {
    background-color: #f8f8f8
  }
  .bg-dark {
    background-color: #111416
  }
  .bg-gray {
    background-color: #f3f3f3
  }

  .color-accent-1 {
    color: var(--color-accent-1)!important
  }
  .color-accent-2 {
    color: var(--color-accent-2)!important
  }
  .bg-accent-1 {
    background-color: var(--color-accent-1)
  }
  .bg-light-1 {
    background-color: var(--color-light-1)
  }
  .bg-light-2 {
    background-color: var(--color-light-2)
  }

  .color-heading {
    color: #fff
  }
  .color-text {
    color: #ddd
  }
