.button {
    display: inline-block;
    position: relative;
    background: var(--color-accent-1);
    color: #fff;
    padding: .6em 2em .5em;
    font-weight: 400;
    border-radius: 32px;
    border: 1px solid var(--color-accent-1);
    transition: color 0.2s ease-in-out
}

.button span {
    display: inline-block;
    transition: .3s ease-in-out
}

.border-btn {
    display: inline-block;
    padding: .9em 2em .8em;
    border: 1px solid var(--color-accent-1);
    border-radius: 32px;
    margin-right: 1em;
    color: var(--color-accent-1);
    font-weight: 500;
    cursor: pointer
  }
  

@media(min-width:767px) {
    .button:hover {
        color: var(--color-light-1);
    }
    .button:hover::before {
       height: 100%
    }
}