.button {
    display: inline-block;
    position: relative;
    background: var(--color-accent-1);
    color: #fff;
    padding: .7em 1em .6em;
    font-weight: 600;
    transition: color 0.2s ease-in-out
}

.button::before {
    position: absolute;
    content: "";
    top: 0;
    height: 0;
    right: 0;
    width: 100%;
    background: var(--color-dark-2);
    transition: 0.2s ease-in-out;
    z-index: -1
}

.button span {
    display: inline-block;
    transition: .3s ease-in-out
}

@media(min-width:767px) {
    .button:hover {
        color: var(--color-light-1);
    }
    .button:hover::before {
       height: 100%
    }
}