.site-footer {
    position: relative;
    background: #1a1f22;
    background-size: cover;
    background-position: center;
}

.site-footer p,
.site-footer a {
    font-size: 1.1em;
    color: #fff 
}

.footer-top {
    padding: 150px 0 60px;
}

.footer-nav li {
    margin-bottom: 1em
}

.footer-logo-wrap a {
    display: inline-block;
    margin-right: 1em
}

.footer-logo-wrap img {
    height: 65px
}

@media(min-width:767px) {
    .site-footer::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        background-color: #ededed
    }
    .footer-nav li {
        display: inline-block;
        margin-right: 1.5em
    }
}


