.site-footer {
    position: relative;
    background: #080d10;
    background-size: cover;
    background-position: center;
}

.site-footer::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 42.16%;
    background-color: var(--color-accent-1)
}

.site-footer p,
.site-footer a {
    color: #fff
}

.footer-top {
    padding: 150px 0 60px;
}

.copywright a {
    font-size: 12px;
    font-weight: 300;
    opacity: .8
}

@media(min-width:767px) {
    .footer-nav li {
        display: inline-block;
        margin-right: 2em
    }
}


