.site-footer {
    position: relative;
    background: #080d10;
    background-size: cover;
    background-position: center;
}

.site-footer::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: #0e161b;
}

.site-footer p,
.site-footer a {
    font-size: 1.1em;
    color: #fff
}

.footer-top {
    padding: 150px 0 60px;
}

.footer-nav li {
    margin-bottom: 1em
}

@media(min-width:767px) {
    .footer-nav li {
        display: inline-block;
        margin-right: 1.5em
    }
}


