
.overlay {
    position: relative
}
.overlay::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border-radius: 12px;
    opacity: .3;
    z-index: 1
}
.overlay img {
    border-radius: 12px
}
.image-right {
    position: absolute;
    right: 0;
    top: -3em;
    width: 58%;
    z-index: 9
}

.overlay-text-up,
.overlay-text-down {
    position: absolute;
    left: 3.2em;
    color: #fff;
    z-index: 99
}
.overlay-text-up {
    top: 3.2em
}
.overlay-text-down {
    bottom: 3.2em
}
.gallery-title {
    font-weight: 500;
    color: #fff
}
.gallery-btn {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: 500
}
.gallery-btn svg {
    margin-left: .6em
}

.glightbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 12px
}
.glightbox:hover img {
    transform: scale(1.05)
}
.glightbox::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .1;
    z-index: 9;
    border-radius: 12px
}
.gallery-item img {
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 12px;
    transition: .3s ease-in-out
}
.zoomable {
    border-radius: 12px
}
.gallery-item-description {
    display: none
}

.md-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
}
.md-gallery-item img {
    transition: .3s ease-in-out
}
@media(min-width:767px) {
    .md-gallery {
    grid-template-columns: 1fr 1fr 1fr;
}
    .gallery-item a {
        position: relative
    }
    .gallery-item a::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); 
        opacity: 0;
        transition: .2s ease-in-out;
        z-index: 99
    }
    .gallery-item-description {
        display: block;
        position: absolute;
        bottom: 1.6em;
        left: 2em;
        font-size: 1.2em;
        color: #fff;
        transition: .2s ease-in-out;
        opacity: 0;
        z-index: 999
    }
    
    .gallery-item:hover .gallery-item-description {
        opacity: 1
    }
    
    .gallery-item:hover a::before {
        opacity: .7
    }
}