
.overlay .image-wrapper {
    position: relative
}
.overlay .image-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border-radius: 12px;
    opacity: .3;
    z-index: 1
}
.overlay .image-wrapper img {
    border-radius: 12px
}
.image-right {
    position: absolute;
    right: 0;
    top: -6em;
    width: 58%;
    z-index: 9
}