
.overlay {
    position: relative
}
.overlay::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border-radius: 12px;
    opacity: .3;
    z-index: 1
}
.overlay img {
    border-radius: 12px
}
.image-right {
    position: absolute;
    right: 0;
    top: -6em;
    width: 58%;
    z-index: 9
}

.overlay-text-up,
.overlay-text-down {
    position: absolute;
    left: 3.2em;
    color: #fff;
    z-index: 99
}
.overlay-text-up {
    top: 3.2em
}
.overlay-text-down {
    bottom: 3.2em
}
.gallery-title {
    font-weight: 500;
    color: #fff
}
.gallery-btn {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: 500
}
.gallery-btn svg {
    margin-left: .6em
}

.glightbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 12px
}
.glightbox:hover img {
    transform: scale(1.05)
}
.glightbox::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .2;
    z-index: 9;
    border-radius: 12px
}
.gallery-item img {
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 12px;
    transition: .3s ease-in-out
}
.zoomable {
    border-radius: 12px
}