
.card {
    padding: 2em;
    margin-bottom: 3em;
    border-radius: 12px;
    aspect-ratio: 2/1;
}

.card ul li {
    margin-bottom: .8em;
    font-size: 1.1em;
    font-weight: 400
}

.card ul li .contact-icon {
    margin-right: 5px;
    margin-bottom: -4px
}

.arrow-small {
    margin-right: .5em
}