
.offer-card {
    padding: 2.2em 2.5em 3em;
    margin-bottom: 3em;
    min-height: 260px;
    border-radius: 12px
}

.offer-card ul li {
    margin-bottom: .8em;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.6;
    transition: .3s ease-in-out
}

.offer-card ul li .contact-icon {
    margin-right: 5px;
    margin-bottom: -4px
}

.doctor-img {
    position: absolute;
    top: -5em;
    right: -4em;
    width: 23em
}