
.services {
    background-image: url("/assets/img/hero/hero-bg.png");
    background-size: cover;
    background-color: var(--color-light-2)
  }

.card {
    padding: 2.2em 2.5em 3em;
    margin-bottom: 3em;
    min-height: 260px;
    border-radius: 12px
}

.card ul li {
    margin-bottom: .8em;
    font-size: 1.1em;
    font-weight: 400;
    transition: .3s ease-in-out
}

.card ul li .contact-icon {
    margin-right: 5px;
    margin-bottom: -4px
}

.arrow-small {
    margin-right: .5em
}
  
  .services-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.8em;
    padding: 3em 2.5em 3em;
    min-height: 160px;
    background: var(--color-light-1);
    border-radius: 12px;
    transition: .3s ease-in-out
  }
  
  .services-item-title,
  .services-list-item,
  .services-item-icon circle,
  .services-list-item svg path {
    transition: .3s ease-in-out
  }
  
  .services-item-icon {
    width: 44px;
    height: 44px;
    transition: .2s ease-in-out
  }
  
  .services-item:hover {
    background-color: var(--color-accent-1)
  }
  
  .services-item:hover .services-item-title {
    color: #fff!important
  }
  .services-item:hover .services-list-item {
    color: #fff;
  }
  .services-item:hover .services-list-item svg path {
    stroke: #fff
  }
  .services-item:hover .services-item-icon {
    transform: rotate(45deg)
  }
  .services-item:hover .services-item-icon path {
    stroke: var(--color-accent-1)
  }
  .services-item:hover .services-item-icon circle {
    fill: #fff
  }
  
  .services-item:hover img {
    transform: scale(1.05)
  }
  
  .services-list-item {
    margin-bottom: 1em;
    font-weight: 400;
  }
  
  .services-list-item svg path {
    stroke: var(--color-accent-1)
  }
  
