</main>
<footer class="site-footer" data-scroll-section>
  <div class="footer-parallax">
    <div class="container">
      <div class="row footer-top">
        <div class="col-12 col-md-6 pb-small">
          <div class="footer-logo-wrap">
            <a href="http://www.grabow.pl/" title="Gmina Grabów Logo" target="_blank">
              <img src="/assets/img/logo/grlogo.png" alt="Gmina Grabów Logo">
            </a>
            <a href="https://www.nfz.gov.pl/" title="NFZ Logo" target="_blank">
              <img src="/assets/img/logo/nzlogo.png" alt="NFZ Logo">
            </a>
          </div>
        </div>
        <div class="offset-md-1 col-12 col-md-5 pb-small">
          <nav class="footer-nav">
            <ul>
              <li>
                <a href="/polityka/" title="Polityka">Polityka </a>
              </li>
              <li>
                <a href="/regulamin/" title="Regulamin">Regulamin</a>
              </li>
              <li>
                <a href="/rodo/" title="RODO">RODO</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
{% include 'partials/foot.njk' %}