<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content="Eleventy" />
  <meta name="google-site-verification" content="TUQoIr9S-K-XazYp0uVcFzEEdXg6NYOiZY5GbBDTVaE" />
  <title>{{ title }} - SPZOZ Grabów nad Pilicą</title>
  <meta name="description" content="{{ description }}" />
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://przychodniagrabow.pl/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="/static/img/opengraph.png">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="https://przychodniagrabow.pl">
  <meta property="twitter:url" content="https://przychodniagrabow.pl/">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="/static/img/opengraph.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  <link rel="stylesheet" href="/static/cookieconsent.css" media="print" onload="this.media='all'">
  <style>
    @font-face {
      font-display: swap;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      src: url('/assets/fonts/montserrat-v25-latin_latin-ext-300.eot');
      src: url('/assets/fonts/montserrat-v25-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-300.woff2') format('woff2'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-300.woff') format('woff'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-300.ttf') format('truetype'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-300.svg#Montserrat') format('svg');
    }

    @font-face {
      font-display: swap;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      src: url('/assets/fonts/montserrat-v25-latin_latin-ext-regular.eot');
      src: url('/assets/fonts/montserrat-v25-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-regular.woff2') format('woff2'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-regular.woff') format('woff'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-regular.ttf') format('truetype'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-regular.svg#Montserrat') format('svg');
    }

    @font-face {
      font-display: swap;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      src: url('/assets/fonts/montserrat-v25-latin_latin-ext-500.eot');
      /* IE9 Compat Modes */
      src: url('/assets/fonts/montserrat-v25-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-500.woff2') format('woff2'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-500.woff') format('woff'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-500.ttf') format('truetype'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-500.svg#Montserrat') format('svg');
    }

    @font-face {
      font-display: swap;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      src: url('/assets/fonts/montserrat-v25-latin_latin-ext-600.eot');
      src: url('/assets/fonts/montserrat-v25-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-600.woff2') format('woff2'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-600.woff') format('woff'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-600.ttf') format('truetype'),
        url('/assets/fonts/montserrat-v25-latin_latin-ext-600.svg#Montserrat') format('svg');
    }
  </style>
</head>

<body class="page-{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
  <div class="scrollContainer" id="pinSection">
    <div class="logo-wrap-inner"></div>
    <header class="site-header" data-scroll-sticky data-scroll-target="#pinSection">
      <div class="header-top">
        <div class="header-top-wrap container">
          <div class="row gx-0">
            <div class="col-10 col-md-5 col-xl-3">
              <div class="logo-wrap">
                <a href="/" title="Samodzielny Publiczny Zakład Opieki Zdrowotnej w Grabowie nad Pilicą">
                  <img src="/assets/img/logo/grlogo.png" class="logo" alt=" Samodzielny Publiczny Zakład Opieki Zdrowotnej w Grabowie nad Pilicą - Logo">
                  <span>
                    Samodzielny Publiczny <br />Zakład Opieki Zdrowotnej <br />w Grabowie nad Pilicą
                  </span>
                </a>
              </div>
            </div>
            <div class="col-2 col-md-7 col-xl-9 d-flex align-items-center justify-content-end">
              <a href="#" class="d-none d-md-inline-block" data-modal="modal-one" title="Preferencje">
                <svg class="svg-icon" width="38" height="38" viewBox="0 0 70 70" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle cx="35" cy="35" r="35" fill="var(--color-accent-1)" />
                  <path
                    d="M35 24C27.2727 24 20.6736 28.5613 18 35C20.6736 41.4387 27.2727 46 35 46C42.7273 46 49.3264 41.4387 52 35C49.3264 28.5613 42.7273 24 35 24ZM35 42.3333C30.7345 42.3333 27.2727 39.048 27.2727 35C27.2727 30.952 30.7345 27.6667 35 27.6667C39.2655 27.6667 42.7273 30.952 42.7273 35C42.7273 39.048 39.2655 42.3333 35 42.3333ZM35 30.6C32.4345 30.6 30.3636 32.5653 30.3636 35C30.3636 37.4347 32.4345 39.4 35 39.4C37.5655 39.4 39.6364 37.4347 39.6364 35C39.6364 32.5653 37.5655 30.6 35 30.6Z"
                    fill="#F5F5F5" />
                </svg>
              </a>
              <div class="modal" id="modal-one">
                <div class="modal-bg modal-exit"></div>
                <div class="modal-container">
                  <div class="container p-relative pt-small pb-medium">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <h2 class="h4">
                          Tutaj możesz dopasować wygląd strony do swoich wymagań
                        </h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <h3 class="h5">
                          Zmień kontrast
                        </h3>
                        <button type="button" id="contrast-normal" class="change-contrast active">Aa</button>
                        <button type="button" id="contrast-low" class="change-contrast">Aa</button>
                        <button type="button" id="contrast-high" class="change-contrast">Aa</button>
                      </div>
                      <div class="col-md-6">
                        <h3 class="h5">
                          Wybierz wielkość tekstu
                        </h3>
                        <button type="button" id="font-normal" class="change-font active">Mały</button>
                        <button type="button" id="font-medium" class="change-font">Średni</button>
                        <button type="button" id="font-large" class="change-font">Duży</button>
                      </div>
                    </div>
                    <span class="modal-close modal-exit">
                      <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="17" cy="17" r="16.5" stroke="var(--color-accent-1)" />
                        <line x1="11.1279" y1="23.1088" x2="23.1088" y2="11.1279" stroke="var(--color-accent-1)"
                          stroke-width="3" />
                        <line x1="11.4521" y1="10.5288" x2="23.433" y2="22.5097" stroke="var(--color-accent-1)"
                          stroke-width="3" />
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
              <a href="/kontakt/" title="Skontaktuj się" class="button d-none d-md-block">Skontaktuj się</a>
              <button class="menu-toggle d-block d-md-none" id="menuToggle" aria-label="Otwórz menu">
                <svg class="hamburger" width="40" height="12" viewBox="0 0 40 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <line y1="1" x2="40" y2="1" stroke="#fff" stroke-width="2" />
                  <line y1="11" x2="40" y2="11" stroke="#fff" stroke-width="2" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="header-top-border"></div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <div class="row gx-0">
            <div class="col-12">
              <nav class="desktop-menu d-none d-md-block">
                <ul class="desktop-menu-list">
                  <li>
                    <a href="/" title="Start">
                      <svg width="36" height="36" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="35" cy="35" r="35" fill="var(--color-accent-1)" />
                        <path d="M32.2 48V38.1176H38.8V48H47.05V34.8235H52L35.5 20L19 34.8235H23.95V48H32.2Z"
                          fill="white" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="/uslugi/" title="Usługi">Usługi</a>
                  </li>
                  <li>
                    <a href="/godziny-przyjec/" title="Godziny przyjęć">Godziny przyjęć</a>
                  </li>
                  <li>
                    <a href="/aktualnosci/" title="Aktualności">Aktualności</a>
                  </li>
                  <li>
                    <a href="/galeria/" title="Galeria">Galeria</a>
                  </li>
                  <li>
                    <a href="/kontakt/" title="Kontakt">Kontakt</a>
                  </li>
                  <li>
                    <a href="https://wyniki.diag.pl/" title="Wyniki badań">Wyniki badań</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="swup" class="transition-fade pt-small">
      <section class="fullpage-menu transition-fade-out">
        <div class="fullpage-menu-inner container h-100" data-scroll-sticky data-scroll-target="#pinSection">
          <div class="menu-bg">
          </div>
          <div class="row gx-0 w-100 h-100 align-items-center">
            <div class="offset-md-2 col-md-4">
              <nav class="main-menu pt-md-small">
                <ul class="main-menu-list">
                  <li>
                    <a href="/uslugi/" title="Usługi">Usługi</a>
                  </li>
                  <li>
                    <a href="/godziny-przyjec/" title="Godziny przyjęć">Godziny przyjęć</a>
                  </li>
                  <li>
                    <a href="/aktualnosci/" title="Aktualności">Aktualności</a>
                  </li>
                  <li>
                    <a href="/galeria/" title="Galeria">Galeria</a>
                  </li>
                  <li>
                    <a href="/kontakt/" title="Kontakt">Kontakt</a>
                  </li>
                  <li>
                    <a href="https://wyniki.diag.pl/" title="Wyniki badań">Wyniki badań</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <main class="main">
