---
layout: "layouts/base.njk"
title: Galeria
description: Galeria zdjęć
---

<section class="pt-xlarge pb-small" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="col-md-10">
                <h1 class="xl" data-splitting>
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="gallery pb-xlarge" data-scroll-section>
    <div class="container">
        <div class="row gy-4">
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/gabinet-lekarski.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/gabinet-lekarski.jpg" loading="lazy" alt="Przychodnia Grabów - Gabinet">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/gabinet-piel-położnej.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/gabinet-piel-poloznej.jpg" loading="lazy" alt="Przychodnia Grabów - Gabinet pielęgniarki położnej">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/gabinet-piel-poloznej2.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/gabinet-piel-poloznej2.jpg" loading="lazy" alt="Przychodnia Grabów - Gabinet pielęgniarki">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/gabinet-stomatologiczny.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/gabinet-stomatologiczny.jpg" loading="lazy" alt="Przychodnia Grabów - Gabinet stomatologiczny">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/gabinet-zabiegowy.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/gabinet-zabiegowy.jpg" loading="lazy" alt="Przychodnia Grabów - Gabinet zabiegowy">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/gabinet-zabiegowy-ekg.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/gabinet-zabiegowy-ekg.jpg" loading="lazy" alt="Przychodnia Grabów - Gabinet zabiegowy">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/gab-zabiegowy.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/gab-zabiegowy.jpg" loading="lazy" alt="Przychodnia Grabów - Gabinet zabiegowy">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/poczekalnia.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/poczekalnia.jpg" loading="lazy" alt="Przychodnia Grabów - poczekalnia">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/poczekalnia2.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/poczekalnia2.jpg" loading="lazy" alt="Przychodnia Grabów - Poczekalnia">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/poczekalnia3.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/poczekalnia3.jpg" loading="lazy" alt="Przychodnia Grabów - Poczekalnia">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/poczekalnia4.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/poczekalnia4.jpg" loading="lazy" alt="Przychodnia Grabów - Poczekalnia">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/rejestracja.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/rejestracja.jpg" loading="lazy" alt="Przychodnia Grabów - Rejestracja">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/rejestracja3.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/rejestracja3.jpg" loading="lazy" alt="Przychodnia Grabów - Rejestracja">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/rejestracja6.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/rejestracja6.jpg" loading="lazy" alt="Przychodnia Grabów - Rejestracja">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/zewnatrz.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/zewnatrz.jpg" loading="lazy" alt="Przychodnia Grabów">
                </a>
            </div>
            <div class="col-md-4 gallery-item fadeIn">
                <a href="/assets/img/gallery/zewnatrz2.jpg" class="glightbox" data-no-swup>
                    <img src="/assets/img/gallery/zewnatrz2.jpg" loading="lazy" alt="Przychodnia Grabów">
                </a>
            </div>
        </div>
    </div>
</section>

