---
layout: "layouts/base.njk"
title: Godziny przyjęć
description: Sprawdź nasze godziny przyjęć i umów się na wizytę w wygodnym dla Ciebie terminie. 
---

<section class="pt-medium pb-medium" data-scroll-section>
  <div class="container">
    <div class="row gx-0">
      <div class="col-md-12">
        <h1 class="xl" data-splitting>{{ title }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="pb-medium" data-scroll-section>
  <div class="container">
    <div class="row gx-0">
      <div class="col-md-8">
        <div class="hours-wrap fadeIn">
          <h3 class="h4"> Witold Raj - <small>lekarz pediatra</small></h3>
          <hr>
          <h3 class="h4"> Julia Tarawska - <small>medycyna rodzinna</small></h3>
          <hr>
          <h3 class="h4"> Piotr Kwiatkowski - <small>stomatolog</small></h3>
          <hr>
          <h4> Godziny przyjęć: </h4>
          <p>Od poniedziałku do piątku od 8 do 18, szczegóły i zapisy w rejestracji SPZOZ </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
