---
layout: "layouts/base.njk"
title: Godziny przyjęć
description: Godziny przyjęć
---

<section class="pt-xlarge pb-medium" data-scroll-section>
  <div class="container">
    <div class="row gx-0">
      <div class="col-md-12">
        <h1 class="xl" data-splitting>{{ title }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="pb-xlarge" data-scroll-section>
  <div class="container">
    <div class="row gx-0">
      <div class="col-md-8">
        <div class="hours-wrap fadeIn">
          <h3> Witold Raj - lekarz pediatra </h3>
          <table class="mb-5">
            <tbody>
              <tr>
                <td>Poniedziałek</td>
                <td>8.00 - 14.00</td>
              </tr>
              <tr>
                <td>Wtorek</td>
                <td>8.00 - 14.00</td>
              </tr>
              <tr>
                <td>Środa</td>
                <td>8.00 - 14.00</td>
              </tr>
              <tr>
                <td>Czwartek</td>
                <td>8.00 - 14.00</td>
              </tr>
              <tr>
                <td>Piątek</td>
                <td>8.00 - 14.00</td>
              </tr>
            </tbody>
          </table>
          <h3> Lech Żak - lekarz medycyna rodzinna </h3>
          <table class="mb-5">
            <tbody>
              <tr>
                <td>Poniedziałek</td>
                <td>8.00 - 14.00</td>
              </tr>
              <tr>
                <td>Wtorek</td>
                <td>8.00 - 14.00</td>
              </tr>
              <tr>
                <td>Środa</td>
                <td>8.00 - 14.00</td>
              </tr>
              <tr>
                <td>Czwartek</td>
                <td>8.00 - 14.00</td>
              </tr>
              <tr>
                <td>Piątek</td>
                <td>8.00 - 14.00</td>
              </tr>
            </tbody>
          </table>
          <h3> Lek. Piotr Kwiatkowski - stomatolog </h3>
          <table class="mb-5">
            <tbody>
              <tr>
                <td>Poniedziałek</td>
                <td>10.00 - 15.00</td>
              </tr>
              <tr>
                <td>Piątek</td>
                <td>12.00 - 17.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
