---
layout: "layouts/base.njk"
title: Kontakt
description: Dane kontaktowe
---

<section class="pt-xlarge pb-small" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="col-md-12">
                <h1 class="xl" data-splitting>
                    {{ title }}<span class="dot">.</span>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="pb-xlarge" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="col-md-5">
                <form class="contact-form fadeIn" action="https://formsubmit.co/kontakt@futurewebstudio.pl" method="POST">
                    <input type="hidden" name="_subject" value="Formularz kontaktowy na stronie">
                    <input type="hidden" name="_next" value="https://medicalstarter.netlify.app/wyslano-formularz/">
                    <input type="hidden" name="_captcha" value="false">
                    <input type="text" name="_honey" style="display:none">
  
                    <input id="visitor-name" type="text" name="visitor_name" placeholder="Imię i nazwisko" required><br/>
                    <input id="visitor-email" type="email" name="visitor_email" placeholder="Adres email" required><br/>
                    <textarea id="visitor-message" name="visitor_msg" cols="30" rows="8" placeholder="Treść wiadomości" required></textarea><br/>
                    <button id="submit-btn" type="submit" class="button">Wyślij</button>
                </form>
            </div>
        </div>
    </div>
</section>
