---
layout: "layouts/base.njk"
title: Polityka prywatności
description: Polityka prywatności strony
---

<section class="pt-medium pt-md-xlarge pb-xsmall" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="col-md-10">
                <h1 class="xl" data-splitting>
                    {{ title }}<span class="dot">.</span>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="pb-xlarge" data-scroll-section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <article class="content fadeIn">
                    <p><strong>POLITYKA PRYWATNOŚCI I WYKORZYSTANIA PLIKóW COOKIES</strong></p>
                    <p>Ochrona prywatności osób odwiedzających naszą stronę internetową jest dla nas sprawą najwyższej wagi. Dlatego dokładamy wszelkich starań, aby zabezpieczyć dane osobowe naszych pacjentów, kontrahentów oraz innych osób odwiedzających naszą stronę internetową. Niniejsza polityka prywatności w przejrzysty sposób przedstawia oraz wyjaśnia zasady i zakres przetwarzania wszystkich danych osobowych. Zawiera także procedurę wykorzystywania ciasteczek cookies. Stosowane są najnowocześniejsze środki techniczne oraz organizacyjne, zapewniające wysoki poziom ochrony przetwarzania danych osobowych.</p>
                    <p>Polityka prywatności skierowana jest do wszystkich osób korzystających ze strony internetowej Samodzielnego Publicznego Zakładu Opieki Zdrowotnej w Grabowie nad Pilicą. Obowiązuje ona od 3 lipca 2023 roku.</p>
                    <p><br></p>
                    <p><strong>DEFINICJE:</strong></p>
                    <p><br></p>
                    <ul>
                        
                        <li>
                            <p><a name="_Hlk139363158"></a><strong>Administrator</strong>&nbsp; - &nbsp;podmiot, który samodzielnie ustala cele i sposoby przetwarzania danych osobowych. Administratorem danych osobowych osób jest Samodzielny Publiczny Zakład Opieki Zdrowotnej w Grabowie nad Pilicą.</p>
                        </li>
                        <li>
                            <p><strong>Dane osobowe&nbsp;</strong>- informacje o zidentyfikowanej lub możliwej do zidentyfikowania osobie fizycznej.</p>
                        </li>
                        <li>
                            <p><strong>Strona internetowa</strong>: www.przychodniagrabow.pl.</p>
                        </li>
                        <li>
                            <p><strong>Podmiot przetwarzający&nbsp;</strong>&ndash; podmiot przetwarzający dane w imieniu administratora.</p>
                        </li>
                        <li>
                            <p><strong>RODO -&nbsp;</strong>Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE.</p>
                        </li>
                        <li>
                            <p><strong>Odbiorca/Użytkownik -&nbsp;</strong>osoby odwiedzające naszą stronę internetową,</p>
                        </li>
                        <li>
                            <p><strong>Polityka -&nbsp;</strong>niniejsza polityka prywatności, obowiązująca od 3 lipca 2023 roku.</p>
                        </li>
                        <li>
                            <p><strong>Pliki Cookies </strong>dane informatyczne, pliki tekstowe przechowywane na urządzeniach użytkowników (np. na laptopie, komputerze, tablecie lub telefonie) przesyłane przez strony internetowe.</p>
                        </li>
                    </ul>

                    <p><strong>KTO JEST ADMINISTRATOREM DANYCH OSOBOWYCH I JAK MOŻNA SIĘ Z NIM</strong></p>
                    <p><strong>SKONTAKTOWAĆ?</strong></p>
                    <p>Administratorem Danych Osobowych wszystkich użytkowników strony internetowej, w rozumieniu rozporządzenia Parlamentu Europejskiego i Rady (UE) z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (RODO) &nbsp;jest Samodzielny Publiczny Zakład Opieki Zdrowotnej w Grabowie nad Pilicą, ul. Parkowa 2, 26-902 Grabów nad Pilicą.</p>
                    <p>W sprawach dotyczących przetwarzania danych osobowych można skontaktować się z administratorem danych osobowych za pomocą adresu mailowego: spzoz.grabow@gmail.com oraz telefonicznie pod numerem: 466627017.</p>
                    <p><br></p>
                    <p><strong>KTO JEST INSPEKTOREM OCHRONY DANYCH OSOBOWYCH I JAK MOŻNA SIĘ Z NIM SKONTAKTOWAĆ?</strong></p>
                    <p>Inspektorem Ochrony Danych Osobowych jest Aleksandra Cnota &ndash; Mikołajec. W sprawach dotyczących przetwarzania danych osobowych można skontaktować się z inspektorem danych osobowych za pomocą poczty elektronicznej pod adresami: <a href="mailto:aleksandra@eduodo.pl">aleksandra@eduodo.pl</a>lub <a href="mailto:iod@eduodo.pl">iod@eduodo.pl</a>.</p>
                    <p><br></p>
                    <p><strong>JAK POZYSKUJEMY TWOJE DANE OSOBOWE ORAZ JAKI RODZAJ TWOICH DANYCH PRZETWARZAMY?</strong></p>
                    <p>Twoje dane osobowe otrzymaliśmy od Ciebie podczas wypełnienia formularza kontaktowego. Administrator przetwarza Twoje następujące dane osobowe:</p>
                    <ul>
                        
                        <li>
                            <p>imię i nazwisko, adres e-mail, informacje zawarte w treści wiadomości za pośrednictwem naszej strony oraz za pośrednictwem adresu e-mail, w tym treści komunikacyjne i metadane w celu wypełnienia formularza kontaktowego i skontaktowania się z nami,</p>
                        </li>
                        <li>
                            <p>w związku z wykorzystywaniem plików cookies będą to: informacje o komputerze (adres IP, lokalizacja geograficzna, typ i wersja przeglądarki, rodzaj systemu operacyjnego), informacje o wizytach oraz korzystaniu z naszej witryny (źródło odesłań, długość wizyty, wyświetlania stron i ścieżki nawigacji w witrynie), a także informacje, które generowane są podczas korzystania z naszej strony internetowej (kiedy, jak często i w jakich okolicznościach korzystasz z naszej witryny internetowej.</p>
                        </li>
                    </ul>
                    <p><br></p>
                    <p><strong>W JAKIM CELU PRZETWARZAMY TWOJE DANE OSOBOWE?</strong></p>
                    <p>Dane osobowe przesłane do nas za pośrednictwem naszej strony internetowej będą wykorzystywane do celów określonych w niniejszej polityce lub na odpowiednich stronach witryny. Twoje dane osobowe mogą być wykorzystywane do celów: &nbsp;</p>
                    <ul>
                        
                        <li>
                            <p>Komunikowania się z Tobą. Używamy Twoich danych osobowych do komunikowania się z tobą za pośrednictwem Twojego adresu e-mail,</p>;
                        </li>
                        <li>
                            <p>Zapewnienia bezpieczeństwa. Używamy Twoich danych osobowych do zapewnienia bezpieczeństwa strony internetowej, w tym weryfikacji zgodności z warunkami korzystania z naszej strony; w tym monitorowanie prywatnych wiadomości wysyłanych za pośrednictwem naszej prywatnej usługi przesyłania wiadomości,</p>
                        </li>
                        <li>
                            <p>Zapobiegania oszustwom. Używamy Twoich danych osobowych w celu zapobiegania oszustwom i nadużyciom oraz ich wykrywania w celu ochrony bezpieczeństwa użytkowników,</p>
                        </li>
                        <li>
                            <p>Personalizacji. Używamy danych osobowych w celu personalizacji naszej strony dla Ciebie,</p>
                        </li>
                        <li>
                            <p>Rozpatrzenia skarg i zapytań. Używamy Twoich danych osobowych w celu rozpatrywania składanych przez Ciebie lub w związku z naszą witryną skarg, a także w celu odpowiedzi na kierowane przez ciebie pytania,</p>
                        </li>
                        <li>
                            <p>Umożliwienia korzystania ze strony internetowej. Używamy Twoich danych osobowych w celu umożliwienia korzystania z usług dostępnych na naszej stronie internetowej.</p>
                        </li>
                    </ul>
                    <p><br></p>
                    <p><strong>NA JAKIEJ PODSTAWIE PRZETWARZAMY TWOJE DANE?</strong></p>
                    <p>Zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE przetwarzamy Twoje dane:</p>
                    <ul>
                        
                        <li>
                            <p>Gdy przetwarzanie jest niezbędne do wypełnienia obowiązku prawnego (art. 6 ust 1 lit. c RODO). Administrator przetwarza Twoje dane osobowe m.in na podstawie przepisów świadczenia usług drogą elektroniczną,</p>
                        </li>
                        <li>
                            <p>Gdy przetwarzanie jest niezbędne do celów wynikających z prawnie uzasadnionych interesów realizowanych przez administratora (art. 6 ust. 1 lit. f RODO),</p>
                        </li>
                        <li>
                            <p>Gdy przetwarzanie odbywa się na podstawie wyrażonej przez Ciebie zgody (art. 6 ust. 1 lit. a RODO).</p>
                        </li>
                    </ul>
                    <p>Zgoda na przetwarzanie Twoich danych osobowych jest dobrowolna. Masz prawo wycofać zgodę w dowolnym momencie. Wycofanie zgody nie wpływa także na zgodność z przetwarzaniem, którego dokonano na podstawie zgody przed jej wycofaniem. &nbsp;</p>
                    <p><strong>CZY UDOSTĘPNIAMY TWOJE DANE OSOBOWE?</strong></p>
                    <p>Twoje dane osobowe udostępniane są podmiotom zależnym od administratora. Przestrzegają oni równie wysokiego standardu dbałości o bezpieczeństwo Twoich danych osobowych. Udostępnianie odbywa się w ściśle określonych celach i w sposób opisany poniżej:</p>
                    <ul>
                        
                        <li>
                            <p>Udostępniamy &nbsp;Twoje dane osobowe organom władzy publicznej oraz podmiotom realizującym zadania publiczne lub działających na zlecenie organów władzy publicznej, wyłącznie w zakresie i w celach, które wynikają z przepisów powszechnie obowiązującego prawa,</p>
                        </li>
                        <li>
                            <p>Udostępniamy Twoje dane osobowe podmiotom współpracującym z administratorem,</p>
                        </li>
                        <li>
                            <p>Udostępniamy Twoje dane osobowe podmiotom realizującym zadania administratora m. in. dostawca oprogramowania, operator pocztowy,</p>
                        </li>
                        <li>
                            <p>Udostępniamy stronom trzecim informacje statystyczne o naszych użytkownikach; osoby trzecie nie mają możliwości identyfikacji żadnego konkretnego użytkownika na podstawie tych informacji.</p>
                        </li>
                    </ul>
                    <p><br></p>
                    <p><strong>CZY PRZEKAZUJEMY TWOJE DANE DO PAŃSTW SPOZA EOG?</strong></p>
                    <p>W głównej mierze podmioty przetwarzające i gromadzące dane osobowe na naszej stronie internetowej pochodzą z Polski i krajów Europejskiego Obszaru Gospodarczego (EOG). Poza EOG swoją siedzibę posiada jedynie podmiot współpracujący w zakresie dostarczania usług statystycznych naszej strony internetowej, który korzysta z narzędzia Google Analytics - Firma Google Inc. posiada swoją siedzibę w USA. Podmiot ten zobowiązany jest do przestrzegania zasad ujętych w programie Tarczy Prywatności UE - USA, które dotyczą gromadzenia, wykorzystywania oraz przechowywania danych osobowych obywateli Unii Europejskiej -w związku z decyzją wykonawczą Komisji (UE) 2016/1250 z dnia 12 lipca 2016 r. w sprawie adekwatności ochrony zapewnianej przez Tarczę Prywatności UE-USA, a także klauzul przyjętych przez Komisję UE.</p>
                    <p><br></p>
                    <p><strong>JAK DŁUGO PRZETWARZAMY TWOJE DANE OSOBOWE?</strong></p>
                    <p>Dane będziemy przechowywać przez okres niezbędny do realizacji powyższych celów; nie krócej niż przez okres wskazany w przepisach o archiwizacji lub innych przepisach prawa. Dokumenty elektroniczne zawierające dane osobowe zachowamy także, jeżeli:</p>
                    <ul>
                        
                        <li>
                            <p>uznamy, że dane mogą mieć znaczenie dla wszelkich toczących się lub przyszłych postępowań sądowych,</p>
                        </li>
                        <li>
                            <p>będą wymagać tego przepisy prawa,</p>
                        </li>
                        <li>
                            <p>uznamy, że dane mogą mieć znaczenie w trakcie ustanowienia, wyegzekwowania lub obrony naszych praw.</p>
                        </li>
                    </ul>
                    <p><strong>JAKIE MASZ PRAWA WOBEC PRZETWARZANIA DANYCH OSOBOWYCH?</strong></p>
                    <p>Przetwarzanie Twoich danych osobowych wiąże się z koniecznością respektowania przysługujących Ci praw. Celem zapewnienia ich realizacji wyznaczyliśmy Inspektora Ochrony Danych Osobowych, z którym możesz się kontaktować wysyłając maila na adresy: <a href="mailto:aleksandra@eduodo.pl">aleksandra@eduodo.pl</a>lub <a href="mailto:iod@eduodo.pl">iod@eduodo.pl</a>. Przysługuje ci:</p>
                    <p style="margin-left: 1.88cm; margin-bottom: 0cm;"><br></p>
                    <ul>
                        
                        <li>
                            <p><a name="_Hlk38962731"></a><a name="_Hlk38962785"></a><strong>Prawo dostępu</strong>do Twoich danych osobowych. Skorzystanie z tego prawa umożliwia przekazanie Tobie informacji, czy przetwarzamy dane osobowe z Tobą związane, a jeżeli tak, przysługuje Ci wtedy prawo do otrzymania kopii danych osobowych. Dodatkowo pozwoli Ci również na zweryfikowanie tego, czy przetwarzamy Twoje dane zgodnie z prawem.</p>
                        </li>
                    </ul>
                    <p style="margin-left: 1.88cm; margin-bottom: 0cm;"><br></p>
                    <ul>
                        
                        <li>
                            <p><strong>Prawo do sprostowania</strong>Twoich danych osobowych. Jeżeli zauważysz, że Twoje dane są niekompletne, nieprawdziwe lub nieaktualne masz możliwość żądania poprawienia wskazanych informacji. Pamiętaj, że realizując Twoje żądanie jesteśmy zobowiązany zweryfikować poprawność przekazanych nam nowych danych osobowych z Tobą związanych.</p>
                        </li>
                    </ul>
                    <p style="margin-left: 1.88cm; margin-bottom: 0cm;"><br></p>
                    <ul>
                        
                        <li>
                            <p><a name="_Hlk38962882"></a><strong>Prawo do ograniczenia</strong><strong>przetwarzania</strong>Twoich danych osobowych. Pamiętaj, że gdy wniesiesz sprzeciw wobec dalszego przetwarzania, musimy zweryfikować czy w dalszym ciągu mamy nadrzędne i prawnie uzasadnione podstawy do kontynuowania przetwarzania Twoich danych osobowych. Skorzystanie z tego prawa pozwala Ci zażądać ograniczenia dalszego przetwarzania Twoich danych osobowych w następujących przypadkach:</p>
                        </li>
                    </ul>
                    <p style="margin-left: 3.13cm; margin-bottom: 0cm;"><br></p>
                    <ul>
                        
                        <li>
                            <p>Gdy kwestionujesz prawidłowość swoich danych osobowych,</p>
                        </li>
                        <li>
                            <p>Gdy okaże się, że nasze przetwarzanie nie jest zgodne z obowiązującymi przepisami prawa,</p>
                        </li>
                        <li>
                            <p>Gdy Twoje dane są Ci potrzebne do ustalenia, dochodzenia lub obrony roszczeń.</p>
                        </li>
                    </ul>
                    <p style="margin-left: 3.13cm; margin-bottom: 0cm;"><br></p>
                    <ul>
                        
                        <li>
                            <p><strong>Prawo do usunięcia</strong> Twoich danych osobowych. Mamy obowiązek niezwłocznie usunąć Twoje dane osobowe:</p>
                        </li>
                    </ul>
                    <p style="margin-left: 1.88cm; margin-bottom: 0cm;"><br></p>
                    <ul>
                        
                        <li>
                            <p>Gdy Twoje dane nie są już niezbędne do realizacji celów dla których zostały zebrane lub w inny sposób przetwarzane,</p>
                        </li>
                        <li>
                            <p>Gdy zrealizowałeś przysługujące Ci prawo do sprzeciwu wobec przetwarzania danych,</p>
                        </li>
                        <li>
                            <p>Gdy cofnąłeś zgodę na podstawie której przetwarzaliśmy Twoje dane osobowe,</p>
                        </li>
                        <li>
                            <p>Gdy przetwarzaliśmy Twoje dane niezgodnie z prawem lub jesteśmy zobowiązani do usunięcia Twoich danych osobowych w celu wywiązania się z obowiązku narzuconego przez obowiązujące przepisy prawa.</p>
                        </li>
                    </ul>
                    <p style="margin-left: 1.88cm; margin-bottom: 0cm;"><br></p>
                    <p style="margin-left: 1.88cm; margin-bottom: 0cm;">Pamiętaj, że nie zawsze jesteśmy zobowiązani usunąć Twoje dane, w szczególności gdy przetwarzanie ich jest konieczne aby wypełnić obowiązek prawny.</p>
                    <p style="margin-left: 1.88cm; margin-bottom: 0cm;"><br></p>
                    <ul>
                        
                        <li>
                            <p><strong>Prawo do sprzeciwu</strong>wobec przetwarzania Twoich danych osobowych jest odpowiednie wtedy, kiedy uznasz, że przetwarzanie wpływa na Twoje prawa lub wolność. Prawo do sprzeciwu możesz uzasadnić związaną z Twoją osobą szczególną sytuacją z której wynika, że przetwarzanie Twoich danych osobowych łamie Twoje prawa lub wolność. W niektórych szczególnych sytuacjach możemy wykazać, że posiadamy prawnie uzasadnione podstawy do przetwarzania danych osobowych, które są nadrzędne wobec Twoich praw i wolności. Głównie w przypadku zapewnienia bezpieczeństwa strony internetowej oraz przeciwdziałanie oszustwom. W wskazanych przypadkach prawo to nie łączy się z prawem do usunięcia danych.</p>
                        </li>
                    </ul>
                    <p style="margin-left: 1.88cm; margin-bottom: 0cm;"><br></p>
                    <ul>
                        
                        <li>
                            <p><strong>Prawo do przenoszenia</strong>Twoich danych osobowych. Jeżeli chcesz otrzymać osobiście lub dostarczyć wskazanej przez Ciebie osobie trzeciej Twoje dane osobowe w powszechnym formacie nadających się do odczytu maszynowego możesz skorzystać z prawa do przeniesienia Twoich danych.</p>
                        </li>
                    </ul>
                    <p><br></p>
                    <ul>
                        
                        <li>
                            <p><strong>Prawo do wniesienia skargi.&nbsp;</strong>Pamiętaj także, że masz prawo wnieść skargę w związku z przetwarzaniem przez nas Twoich danych osobowych do organu nadzorczego, którym jest Prezes Urzędu Ochrony Danych Osobowych (adres: Prezes Urzędu Ochrony Danych Osobowych, ul. Stawki 2, 00-193 Warszawa).<strong>&nbsp</strong>Pomimo tego że masz prawo do skargi będziemy bardzo wdzięczni, jeżeli przed wniesieniem skargi, dasz nam szansę zająć się Twoją sprawą i wątpliwościami związanymi z przetwarzaniem przez nas Twoich danych osobowych. Z tego powodu bardzo prosimy o kontakt z Inspektorem Ochrony Danych Osobowych.</p>
                        </li>
                    </ul>
                    <p><strong>JAK BEZPIECZNE SĄ INFORMACJE O MNIE?</strong></p>
                    <ul>
                        
                        <li>
                            <p>Staramy się o jak najwyższy poziom bezpieczeństwa użytkowników strony internetowej, dlatego nieustannie pracujemy nad zabezpieczeniem oraz ochroną Twoich danych osobowych podczas transmisji za pomocą specjalistycznych protokołów szyfrowania oraz dedykowanego oprogramowania.</p>
                        </li>
                    </ul>
                    <p><br></p>
                    <ul>
                        
                        <li>
                            <p>Na bieżąco organizujemy, utrzymujemy i aktualizujemy fizyczne, elektroniczne oaz proceduralne zabezpieczenia danych osobowych związane z pozyskiwaniem, przechowywaniem oraz ujawnieniem danych osobowych naszych użytkowników. Wdrożone zabezpieczenia dają Tobie najwyższy poziom poczucia bezpieczeństwa Twoich danych osobowych,</p>
                        </li>
                    </ul>
                    <p style="margin-left: 1.27cm;"><br><br></p>
                    <ul>
                        
                        <li>
                            <p>Wszystkie informacje o Tobie, które przetwarzamy, przechowujemy na odpowiednio zaszyfrowanych i zabezpieczonych serwerach. Administrator regularnie ocenia stopień bezpieczeństwa w ramach swojej sieci oraz dba o monitorowanie wewnętrznych regulacji i procedur zastosowanych po to, aby chronić dane przed wszystkimi możliwymi negatywnymi następstwami.</p>
                        </li>
                    </ul>
                    <p><br></p>
                    <ul>
                        
                        <li>
                            <p>Pamiętaj, że nawet wdrożone najwyższe standardy bezpieczeństwa w oparciu o zastosowane najnowocześniejsze technologie nie dają całkowitego bezpieczeństwa Twoich danych osobowych w momencie udostępnienia informacji za pośrednictwem Internetu lub publicznie dostępnych sieci. Istnieje więc ryzyko, że dostęp do Twoich danych osobowych mogą uzyskać nieuprawnione do tego osoby trzecie.</p>
                        </li>
                    </ul>
                    <p><br></p>
                    <p><strong>WYKORZYSTYWANIE PLIKóW COOKIES</strong></p>
                    <p><strong>Co to są pliki Cookies?&nbsp;</strong>To nic innego jak wszelkie dane informatyczne, w szczególności pliki tekstowe, które użytkownicy przechowują na swoich urządzeniach końcowych przesyłane przez różne strony internetowe. Cookies pozwalają rozpoznać Twoje urządzenie i odpowiednio wyświetlić stronę internetową dostosowaną do Twoich indywidualnych preferencji. Cookies przeważnie zawierają: &nbsp;nazwę strony internetowej z której pochodzą,</p>
                    <p><strong>W jakim celu używamy plików Cookies?&nbsp;</strong>Używamy plików Cookies<strong>&nbsp;</strong>i innych technologii (zwanych łącznie &bdquo;plikami Cookies&rdquo;), aby dokonać rozpoznania Twojej przeglądarki lub urządzenia i dowiedzieć się więcej o Twoich zainteresowaniach oraz zapewnić niezbędne funkcje. W szczególności używamy Cookies w celach m.in:</p>
                    <ul>
                        
                        <li>
                            <p>Zapobiegania nieuczciwej działalności,</p>
                        </li>
                        <li>
                            <p>Poprawy bezpieczeństwa,</p>
                        </li>
                        <li>
                            <p>Raportowania (pozwoli nam to mierzyć i analizować wydajność naszych usług),</p>
                        </li>
                    </ul>
                    <p><strong>Jakich plików Cookies używamy?&nbsp;</strong>W ramach strony internetowej stosujemy dwa zasadnicze rodzaje plików Cookies: &bdquo;sesyjne&rdquo; tzw. session cookies oraz &bdquo;stałe&rdquo; tzw. persisent cookies. Sesyjne Cookies są plikami tymczasowymi, które przechowywane są na Twoim urządzeniu do czasu wyłączenia przeglądarki internetowej. Stałe Cookies są przechowywane na Twoim urządzeniu przez określony czas w parametrach plików Cookies lub do czasu ich usunięcia przez Ciebie. W ramach strony internetowej stosowane są następujące rodzaje plików Cookies:</p>
                    <ul>
                        
                        <li>
                            <p><strong>Niezbędne&nbsp;</strong>&ndash; umożliwiają korzystanie z usług dostępnych w ramach strony internetowej np. pliki cookies uwierzytelniające - wykorzystywane do usług wymagających uwierzytelnienia w ramach strony internetowej,</p>
                        </li>
                        <li>
                            <p><strong>Wydajnościowe&nbsp;</strong>- umożliwiają zbieranie wszelkich informacji o metodzie korzystania ze strony internetowej,</p>
                        </li>
                        <li>
                            <p><strong>Funkcjonalne&nbsp;</strong>- umożliwiają zapamiętanie wybranych przez Ciebie konfiguracji oraz personalizację Twojego interfejsu, np. w zakresie wybranego języka lub regionu, rozmiaru czcionki, wyglądu strony internetowej, itp.,</p>
                        </li>
                        <li>
                            <p><strong>Służące do zapewnienia bezpieczeństwa</strong>&ndash; wykorzystywane są do wykrywania nadużyć w zakresie uwierzytelnienia w ramach strony internetowej,</p>
                        </li>
                    </ul>
                    <p><strong>Jakie zasady bezpieczeństwa powinien zastosować?&nbsp;</strong>Twoje urządzenie powinno być wyposażone w program antywirusowy z aktualną bazą definicji wirusów, aktualną i bezpieczną wersją przeglądarki internetowej i włączoną zaporą sieciową &bdquo;firewall&rdquo;. Zalecane jest również włączenie w przeglądarce internetowej filtrów antyphishingowych, które sprawdzają, czy strona internetowa jest autentyczna i nie służy wyłudzaniu informacji. Należy również uważać jakie załączniki otwieramy i w jakie odnośniki klikamy. Użytkownik powinien korzystać tylko z zaufanych sieci bezprzewodowych.</p>
                    <p><strong>Czy pliki Cookies zawierają dane osobowe?</strong> Wprawdzie pliki Cookies nie zawierają oraz nie stanowią danych osobowych, jednakże niektóre informacje przechowywane w plikach Cookies np. preferencje, mogą być traktowane jako dane osobowe. Dane osobowe pozyskiwane przy użyciu plików Cookies mogą być przetwarzane, jedynie w celu wykonywania określonych funkcji na rzecz użytkownika w sposób przedstawiony powyżej. Dane takie są szyfrowane w sposób uniemożliwiający dostęp do nich osobom nieuprawnionym.</p>
                    <p><strong>Jak zapewniamy bezpieczeństwo?&nbsp;</strong>Dla zachowania bezpieczeństwa przetwarzania Twoich danych osobowych używamy mechanizmów składowania i odczytu Cookies, które nie pozwalają na pobieranie żadnych poufnych informacji z Twojego Urządzenia. Przeniesienie z naszych serwerów jakichkolwiek wirusów, koni trojańskich i innych robaków na Twoje Urządzenie jest niemożliwe.</p>
                    <p><strong>Usuwanie plików Cookies i zmiana preferencji.&nbsp;</strong>Uprawnienia strony internetowej do przechowywania i uzyskiwania plików Cookies wynika z wyrażonej przez Ciebie zgody. Zgoda ta wyrażona jest podczas dokonywania konfiguracji przeglądarki internetowej lub podczas wejścia na stronę internetową. Masz możliwość konfigurowania w każdej chwili i w dowolny sposób swoich ustawień oraz określenia warunków przechowywania plików Cookies. Standardowe oprogramowanie służące do przeglądania stron internetowych domyślnie dopuszcza umieszczenie plików Cookies na urządzeniu końcowym. Możesz w każdej chwili samodzielnie zablokować automatyczną obsługę plików Cookies w ustawieniach przeglądarki. Poniżej dostępne są odnośniki do stron internetowych różnych przeglądarek z dokładnymi instrukcjami dotyczącymi Cookies, w tym sposoby ich usuwania:</p>
                    <ul>
                        
                        <li>
                            <p>Google Chrome - https://support.google.com/chrome/answer/95647?hl=en</p>
                        </li>
                        <li>
                            <p>Mozilla Firefox - https://support.mozilla.org/pl/kb/usuwanie-ciasteczek</p>
                        </li>
                        <li>
                            <p>Opera - https://help.opera.com/pl/latest/web-preferences/#cookies</p>
                        </li>
                        <li>
                            <p><span lang="de-DE">Edge - https://support.microsoft.com/pl-pl/help/10607/microsoft-edge-view-delete-browser-history</span></p>
                        </li>
                        <li>
                            <p><span lang="de-DE">Safari - https://support.apple.com/pl-pl/guide/safari/sfri11471/mac</span></p>
                        </li>
                        <li>
                            <p><span lang="de-DE">Internet Explorer - http://windows.microsoft.com/en-us/internet-explorer/delete-manage-cookies#ie=ie-11</span></p>
                        </li>
                    </ul>
                    <p>Jeżeli wyłączysz wszystkie pliki Cookies w przeglądarce, ani my, ani osoby trzecie, nie przekażemy plików Cookies do przeglądarki. Jeżeli to zrobisz, konieczne może być ręczne dostosowanie niektórych preferencji każdorazowo odwiedzając stronę internetową, a niektóre funkcje i usługi mogą nie działać.</p>
                    <p>Aby skorzystać do przysługującego Ci prawa do sprzeciwu, które przyznaje RODO konieczne jest wylogowanie się ze wszystkich urządzeń i usunięcie z nich plików Cookies. Proces aktualizacji może potrwać nawet do 48 godzin.</p>
                    <p><br></p>
                    <p><strong>ZMIANA POLITYKI PRYWATNOŚCI</strong></p>
                    <p>Polityka Prywatności może być przez nas zmieniana lub aktualizowana w szczególności w przypadku, gdy potrzeba lub obowiązek wprowadzenia zmian wynika ze zmiany przepisów prawa. Wszelkie istotne zmiany zostaną zamieszczone na tej stronie, a dodatkowo poinformujemy Cię o nich za pośrednictwem naszej strony internetowej.</p>
                    <p><br></p>
                    <p><strong>POSTANOWIENIA KOŃCOWE</strong></p>
                    <p>Dodatkowe informacje na temat przetwarzania Twoich danych osobowych, w tym odpowiedzi na pytania dotyczące całego zakresu Polityki Prywatności, otrzymasz kontaktując się z administratorem oraz inspektorem ochrony danych osobowych.&nbsp;</p>
                </article>
            </div>
        </div>
    </div>
</section>