---
layout: "layouts/base.njk"
title: Regulamin
description: Regulamin strony
---

<section class="pt-xlarge pb-xlarge" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="offset-md-1 col-md-10">
                <h1 class="xxl" data-splitting>
                    {{ title }}<span class="dot">.</span>
                </h1>
                <div class="line-x lx-2"></div>
            </div>
        </div>
    </div>
</section>

<section class="pt-xlarge pb-xlarge" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="offset-md-1 col-md-10">

            </div>
        </div>
    </div>
</section>