---
layout: "layouts/base.njk"
title: Obowiązek informacyjny RODO
description: Obowiązek informacyjny RODO
---

<section class="pt-medium pt-md-xlarge pb-xsmall" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="col-md-10">
                <h1 class="xl" data-splitting>
                    {{ title }}<span class="dot">.</span>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="pb-xlarge" data-scroll-section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <article class="content fadeIn">
                    
<p ><span>KLAUZULA INFORMACYJNA - RODO</span></p>
<p ><span>Zgodnie z art. 13 ust. 1 i 2 Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 roku w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (dalej RODO), obowiązującego od 25 maja 2018 r., informuję, iż:</span></p>
<ul>
<li>
<p><span><span>Administratorem Pani/Pana danych osobowych jest Samodzielny Publiczny Zakład Opieki Zdrowotnej w Grabowie nad Pilicą, ul. Parkowa 2, 26-902 Grabów nad Pilicą. Kontakt z administratorem jest możliwy także za pomocą adresu mailowego: </span></span><span>spzoz.grabow@gmail.com.</span></p>
</li>
<li>
<p><span>Inspektorem Ochrony Danych Osobowych jest Aleksandra Cnota-Mikołajec. Kontakt z inspektorem jest możliwy za pomocą adresów mailowych: aleksandra@eduodo.pl lub iod@eduodo.pl.</span></p>
</li>
<li>
<p><span>Pani/Pana dane osobowe przetwarzane będą na podstawie art. 6 ust. 1 lit. c RODO oraz art. 9 ust. 2 lit. c, h RODO w celach realizacji świadczeń usług medycznych, a w szczególności profilaktyce zdrowotnej, diagnozie medycznej, zapewnieniu opieki zdrowotnej, leczeniu, zarządzaniu systemami i usługami opieki zdrowotnej oraz innych działań medycznych wynikających z procesu leczenia lub przepisów odrębnych regulujących zasady ich udzielania, zarządzaniu ich udzielaniem wynikającym m.in. z ustawy z dnia 27 sierpnia 2004 r. o świadczeniach opieki zdrowotnej finansowanych ze środków publicznych, ustawy z dnia 6 listopada 2008 r. o prawach pacjenta i Rzeczniku Praw Pacjenta, ustawy z dnia 15 kwietnia 2011 r. o działalności leczniczej. </span></p>
</li>
<li>
<p><span>Odbiorcami Pani/Pana danych osobowych będą: </span></p>
<ul>
<ul>
<li>
<p><span>organy władzy publicznej oraz podmioty wykonujące zadania publiczne lub działających na zlecenie organów władzy publicznej, w zakresie i w celach, które wynikają z przepisów powszechnie obowiązującego prawa,</span></p>
</li>
<li>
<p><span>podmioty świadczące usługi zdrowotne w ramach udzielania świadczeń zdrowotnych przez Administratora danych oraz Narodowy Fundusz Zdrowia,</span></p>
</li>
<li>
<p><span>inne podmioty, które na podstawie stosownych umów podpisanych z administratorem przetwarzają jego dane osobowe.</span></p>
</li>
</ul>
</ul>
</li>
<li>
<p><span>Pani/Pana dane osobowe przechowywane będą przez okres niezbędny do realizacji celów określonych w pkt. 3. W przypadkach, w których wymagają tego przepisy ustawy z dnia 14 lipca 1983 r. o narodowym zasobie archiwalnym i archiwach - przez czas określony w tych przepisach.</span></p>
</li>
<li>
<p><span>Pani/Pana dane osobowe nie będą przekazywane do państw trzecich lub organizacji międzynarodowych.</span></p>
</li>
<li>
<p><span>Ma Pani/Pan prawo żądania od Administratora: </span></p>
</li>
</ul>
<ul>
<li>
<p><span>dostępu do swoich danych oraz otrzymania ich pierwszej kopii, </span></p>
</li>
<li>
<p><span>do sprostowania (poprawiania) swoich danych, </span></p>
</li>
<li>
<p><span>do usunięcia oraz ograniczenia przetwarzania danych na podstawie art. 17 RODO oraz art. 18 RODO, </span></p>
</li>
<li>
<p><span>do wniesienia sprzeciwu wobec przetwarzania danych, na zasadach opisanych w art. 21 RODO, </span></p>
</li>
<li>
<p><span>do przenoszenia danych, zgodnie z art. 20 RODO,</span></p>
</li>
<li>
<p><span>prawo do wniesienia skargi do organu nadzorczego.</span></p>
</li>
</ul>
<p><span>W celu skorzystania oraz uzyskania informacji dotyczących praw określonych powyżej (lit. a-f) należy skontaktować się z Administratorem lub z Inspektorem Danych Osobowych. </span></p>
<ul>
<li>
<p><span>Ma Pani/Pan prawo wniesienia skargi do organu nadzorczego (Urząd Ochrony Danych Osobowych, ul. Stawki 2, 00-193 Warszawa), gdy uzna Pani/Pan, że przetwarzanie Pani/Pana danych osobowych narusza przepisy ustawy o ochronie danych osobowych, a od 25 maja 2018 r. Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 roku w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE.</span></p>
</li>
<li>
<p><span>Podanie przez Państwa danych osobowych w zakresie wymaganym przepisami jest obligatoryjne. Konsekwencją niepodania danych osobowych będzie brak możliwości rozpoczęcia wypełniania obowiązku prawnego leżącego na Administratorze Danych Osobowych. </span></p>
</li>
<li>
<p><span>Państwa dane mogą być przetwarzane w sposób zautomatyzowany i nie będą profilowane. </span></p>
</li>
</ul>
<p>&nbsp;</p>


                </article>
            </div>
        </div>
    </div>
</section>