---
layout: layouts/base.njk
title: Usługi
description: Zakres usług
---

<section class="pt-xlarge pb-small" data-scroll-section>
  <div class="container">
    <div class="row gx-0">
      <div class="col-md-12">
        <h1 class="xl" data-splitting>
          {{ title }}<span class="dot">.</span>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="pb-xlarge" data-scroll-section>
  <div class="container">
    <div class="row">
      {% for post in collections.services %}
      <div class="col-md-6 fadeIn">
          <div class="services-item">
            <div>
              <h3 class="services-item-title h4 mt-0">
                {{ post.data.title }}
              </h3>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>