<section class="about pt-xlarge pb-xlarge" data-scroll-section>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img src="/assets/img/about/2.png" class="fadeIn" alt="">
      </div>
      <div class="offset-lg-1 col-lg-5">
        <div class="subheading color-text fadeIn">
          O nas
        </div>
        <h2 class="color-heading fadeIn mt-4 mb-1">
          W czym się specjalizujemy
        </h2>
    <p class="color-text fadeIn">
      Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
    </p>
    <ul class="pg-list">
      <li class="color-text fadeIn">
        desktop publishing packages
      </li>
      <li class="color-text fadeIn">
        desktop publishing packages
      </li>
      <li class="color-text fadeIn">
        desktop publishing packages
      </li>
      <li class="color-text fadeIn">
        desktop publishing packages
      </li>
      <li class="color-text fadeIn">
        desktop publishing packages
      </li>
    </ul>
    <a href="#" class="button fadeIn">
      Zobacz więcej
    </a>
      </div>
    </div>
  </div>
</section>