<section class="pb-xlarge" id="faq" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="col-md-6">
                <h2 class="color-accent-2 fadeIn">
                    Pytania i odpowiedzi
                </h2>
            </div>
        </div>
        <div class="row gx-0 pt-md-xsmall pb-xsmall">
            <div class="col-md-6">
                <div class="accordion-wrap">
                    <div class="item fadeIn">
                        <div class="accordion">
                            <div class="h5 mt-4 title">Lorem ipsum dolor sit amet</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            </p>
                            <p>
 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                    <div class="item fadeIn">
                        <div class="accordion">
                            <div class="h5 mt-4 title">Excepteur sint occaecat</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                             <p>
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            </p>
                            <p>
 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            </p>
                        </div>
                    </div>
                    <div class="item fadeIn">
                        <div class="accordion">
                            <div class="h5 mt-4 title">Duis aute irure dolor in reprehenderit</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                             <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>