<section class="pb-xlarge" data-scroll-section>
    <div class="container p-relative">
        <div class="row">
            <div class="col-md-8 overlay">
                {% Image "/assets/img/gallery/gabinet-lekarski.jpg", "Przychodnia zdrowia w Grabowie nad Pilicą" %}
            </div>
            <div class="image-right overlay">
                {% Image "/assets/img/gallery/gabinet-zabiegowy.jpg", "Ośrodek zdrowia w Grabowie nad Pilicą" %}
            </div>
        </div>
    </div>
</section>