<section class="pb-xlarge" data-scroll-section>
    <div class="container p-relative">
        <div class="row gx-0">
            <div class="col-md-8 overlay fadeIn">
                <img src="/assets/img/gallery/poczekalnia3.jpg" alt="Ośrodek zdrowia w Grabowie nad Pilicą">
                <div class="overlay-text-up">
                    <h3 class="gallery-title h2 mt-1">Gabinet zabiegowy</h3>                    
                </div>
                <div class="overlay-text-down">
                    <a href="/galeria/" class="gallery-btn">
                        <span>Zobacz galerię</span>
                        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15.5" cy="15.5" r="15.5" fill="white"/>
                            <path d="M21 11L11 21" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11 11H21V21" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> 
                    </a>
                </div>
            </div>
            <div class="image-right overlay fadeIn">
                <img src="/assets/img/gallery/gabinet-lekarski.jpg" alt="Przychodnia zdrowia w Grabowie nad Pilicą">
            </div>
        </div>
    </div>
</section>