<section class="hero pt-medium pt-md-xlarge pb-large" data-scroll-section>
  <div class="container pt-small pt-xl-small">
    <div class="row gx-0 align-items-center">
      <div class="col-lg-11 col-xxl-6">
        <h1 class="xl mt-1" data-splitting>
          Przychodnia Zdrowia w Grabowie nad Pilicą
        </h1>
        <p class="fadeIn medium">
          <span id="greeting"></span>! Witamy na stronie Przychodni Opieki Zdrowotnej w Grabowie nad Pilicą
        </p>
      </div>
    </div>
  </div>
</section>



