<section class="hero pt-xlarge pb-xlarge" data-scroll-section>
  <div class="container pt-small pt-xl-medium">
      <div class="row gx-0 align-items-center">
    <div class="col-lg-10">
      <h1 class="xl color-accent-1" data-splitting>
        Przychodnia zdrowia<span class="dot">.</span>
      </h1>
      <a href="#" class="border-btn fadeIn">
        Zapisz się
      </a>
    </div>
    <div class="col-lg-4">

    </div>
  </div>
  </div>
</section>

<section class="pb-xlarge" data-scroll-section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-accent-1 fadeIn">

        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-light-1 fadeIn">

        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-xlarge pb-xlarge" data-scroll-section>
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>