<section class="hero pt-xlarge pb-xlarge" data-scroll-section>
  <div class="container pt-small pt-xl-medium">
    <div class="row gx-0 align-items-center">
      <div class="col-lg-10">
        <h1 class="xl color-accent-2" data-splitting>
          Przychodnia zdrowia
        </h1>
        <a href="/kontakt" class="border-btn fadeIn">
          Umów wizytę
        </a>
      </div>
    </div>
  </div>
</section>



