<section class="offer" data-scroll-section>
  <div class="row gx-0">
    <div class="col-lg-5 bg-light-2">

    </div>
    <div class="offset-lg-1 col-lg-6">
      <div class="container-left pt-large">
        <div class="subheading fadeIn">
          Przychodnia zdrowia
        </div>
        <h2 class="mt-4 fadeIn">
          Zakres usług
        </h2>
        <div class="offer-grid pt-xsmall">
          <div class="offer-card fadeIn">
            <p>
              Przykładowy tekst
            </p>
          </div>
          <div class="offer-card fadeIn">
            <p>
              Przykładowy tekst
            </p>
          </div>
          <div class="offer-card fadeIn">
            <p>
              Przykładowy tekst
            </p>
          </div>
          <div class="offer-card fadeIn">
            <p>
              Przykładowy tekst
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>