<section class="offer" data-scroll-section>
  <div class="row gx-0">
    <div class="col-lg-5 bg-light-2">
      <img src="/assets/img/about/4.png" alt="">
    </div>
    <div class="offset-lg-1 col-lg-6">
      <div class="container-left pt-large">
        <div class="subheading fadeIn">
          Przychodnia zdrowia
        </div>
        <h2 class="mt-4 fadeIn">
          Zakres usług
        </h2>
        <div class="offer-grid pt-xsmall">
          <div class="offer-card fadeIn">
            <span class="h2">8</span>
            <p class="mt-2">
              Wykwalifikowanych specjalistów
            </p>
          </div>
          <div class="offer-card fadeIn">
            <span class="h2 color-heading">128</span>
            <p class="color-text mt-2">
              Wykonanych badań
            </p>
          </div>
          <div class="offer-card fadeIn">
            <span class="h2 color-heading">8</span>
            <p class="color-text mt-2">
             Wykwalifikowanych specjalistów
            </p>
          </div>
          <div class="offer-card fadeIn">
            <span class="h2">58</span>
            <p class="mt-2">
              Wykonanych badań
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>