<section class="pb-xlarge" data-scroll-section>
  <div class="container">
    <div class="row">
      
      <div class="col-md-6 fadeIn">
        <div class="offer-card bg-light-1">
            <h3 class="h4">
              Godziny pracy
            </h3>
        </div>
      </div>

      <div class="col-md-6 fadeIn">
        <div class="offer-card bg-light-1">
            <h3 class="h4">
              Godziny pracy
            </h3>
        </div>
      </div>

    </div>
  </div>
</section>


