<section class="section-services pt-large pb-xlarge" data-scroll-section>
  <div class="container">

        <div class="subheading fadeIn">
          Przychodnia zdrowia
        </div>
        <h2 class="mt-4 mb-5 fadeIn">
          Zakres usług
        </h2>

  </div>
</section>